.listContainer{
  background-color: white;
  box-shadow: 10px 5px 3px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  width:70vw;
  margin:3rem auto;
  padding-bottom:3rem;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 10px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

@media only screen and (max-width: 600px) {
  .listContainer{
    margin:2rem auto;
    box-shadow:none;
    width:92vw;
    padding:0px;
    padding-bottom: 20px;
  }

  td, th {
    font-size:3vw;
    padding: 2px;
  }
}
