.listContainer {
  background-color: white;
  display: flex;
  justify-content: center;
  min-width: 70%;
  margin: 3rem auto;
  padding-bottom: 3rem;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 10px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

@media only screen and (max-width: 600px) {
  .listContainer {
    margin: 2rem auto;
    box-shadow: none;
    width: 90%;
    padding: 0px;
    padding-bottom: 20px;
  }

  td,
  th {
    font-size: 3vw;
    padding: 2px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .listContainer {
    width: 80%;
  }
}
